
<%- include ('partials/header'); -%>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/update/<%= data.id_chat %>" method="post">
                        <div class="form-group">
                            <input type="text" name="emisor" value="<%= data.emisor %>" class="form-control">
                        </div>
        
                        <div class="form-group mt-3">
                            <input type="text" name="receptor" value="<%= data.receptor %>" class="form-control">
                        </div>
        
                        <div class="form-group mt-3">
                            <input type="text" name="texto" value="<%= data.texto %>" class="form-control">
                        </div>
        
                        <div class="form-group mt-3">
                            <input type="text" name="fecha" value="<%= data.fecha %>" class="form-control">
                        </div>
        
                        <div class="form-group mt-3">
                            <input type="text" name="estado" value="<%= data.estado %>" class="form-control">
                        </div>
        
                        <button type="submit" class="btn btn-primary mt-3"> Edit </button>
        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include ('partials/footer') -%>