
<%- include ('partials/header'); -%>



<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre del producto</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Fecha de Compra</th>
                        <th>Existencias</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <!--Validaremos si tenemos datos los mostraremos-->
                    <% if (data) { %>
                        <!--Desde el indice 0, hasta la 
                        longitud de los datos-->
                        <% for (var i= 0; i< data.length; i++) { %>
                            <tr>
                                <!--Obtenemos los datos-->
                                <!--Por cada dato de la BD-->
                                <td><%= (i+1) %></td>
                                <td><%= data[i].nombreMedicamento %></td>
                                <td><%= data[i].descripcionMedicamento %></td>
                                <td><%= data[i].precioFinal %></td>
                                <td><%= data[i].fecha %></td>
                                <td><%= data[i].existencia %></td>
                                <td>
                                    <a href="/delete/<%= data[i].idMedicamento %>" class="btn btn-danger">Delete</a>
                                    <a href="/update/<%= data[i].idMedicamento %>" class="btn btn-info mt-3">Update</a>
                                </td>
                            </tr>
                        <% } %>

                    <% } %>
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/add" method="post">
                        <div class="form-group">
                            <input type="text" name="nombreMedicamento" placeholder="Nombre producto: " class="form-control">
                        </div>
        
                        <div class="form-group mt-3">
                            <input type="text" name="descripcionMedicamento" placeholder="Descripción: " class="form-control">
                        </div>
        
                        <div class="form-group mt-3">
                            <input type="number" name="precioFinal" placeholder="Precio: " class="form-control">
                        </div>
        
                        <div class="form-group mt-3">
                            <input type="text" name="fecha" placeholder="Fecha: " class="form-control">
                        </div>
        
                        <div class="form-group mt-3">
                            <input type="number" name="existencia" placeholder="Existencias: " class="form-control">
                        </div>
        
                        <div class="form-group mt-3">
                            <input type="text" multiple name="idMarca" placeholder="Marca" class="form-control" list="Marca">

                            <datalist id="Marca">
                                <option value="1">PFIZER</option>
                                <option value="2">Roche Group</option>
                                <option value="3">JANSSEN</option>
                                <option value="4">Novartis</option>
                                <option value="5">Amgen</option>
                            </datalist>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" multiple name="idConsumible" placeholder="Tipo de suministro" class="form-control" list="Consumible">

                            <datalist id="Consumible">
                                <option value="1">Inyeccion</option>
                                <option value="2">Capsulas</option>
                                <option value="3">Bebible</option>
                            </datalist>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3"> Agregar Producto </button>
        
                    </form>
                </div>
            </div>
        </div>
        <div>
            

        </div>
    </div>
</div>

<%- include ('partials/footer') -%>